* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1248px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
header {
  padding: 11px 0;
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 3px rgba(51, 50, 50, 0.1);
  margin-bottom: 60px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo {
  display: flex;
  align-items: center;
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  background-color: #70c05b;
  color: #fff;
  border: none;
  padding: 8px 15px 8px 8px;
  cursor: pointer;
  margin: 0 16px 0 40px;
}
.search {
  display: flex;
  align-items: center;
}
#search {
  border: 1px solid #70c05b;
  border-radius: 4px 0 0 4px;
  padding-right: 60px;
  padding: 8px 120px 8px 0px;
  border-right: none;
  max-width: 374px;
  width: 100%;
  padding-left: 16px;
  outline: none;
}
.search label {
  border: 1px solid #70c05b;
  border-radius: 0 4px 4px 0;
  padding: 2px;
  border-left: none;
  margin-right: 40px;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.select {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 11px;
}
select {
  display: flex;
  border: none;
  outline: none;
  gap: 10px;
}
.back_img {
  width: 100%;
}
